<!-- Content that is site-wide goes here -->
<html lang="en">

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

	<!-- Custom CSS -->
	<link rel="stylesheet" href="\static\css\custom.css">

	<!-- Fonts -->
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

    <!-- Navigation -->
		<nav class="navbar navbar-inverse" role="navigation" style="background:black;opacity:.9;color:white">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
					<a class="navbar-brand" href="#">Agency</a>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li>
							<a href="\">Home</a>
						</li>
 						<li>
							<a href="\about">About</a>
						</li>
                        <li>
							<a href="\campaigns">Campaigns</a>
						</li>
                        <li>
							<a href="\contests">Contests</a>
						</li>
                        <li>
							<a href="\connect">Connect</a>
						</li>
                    </ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container -->
		</nav>



	<head>
		<title>Agency - {% block pagetitle %}{% endblock %}</title>
	</head>

	{% block body %}

	{% endblock %}


	{% block footer %}
	<div class="container">
      <footer class="footer">
      	<div class="row">
		<div class="col-lg-12 text-center" style="margin-top: 5px;">
        <p style="color: black;">&copy; Agency <a href = "http://twitter.com" target="_blank"><img src = "/static/twitterlogo.png" alt = "Twitter"></a> <a href = "http://facebook.com" target="_blank"><img src = "/static/facebooklogo.png" alt = "Facebook"></a> <a href = "http://plus.google.com" target="_blank"><img src = "/static/googlelogo.png" alt = "Google+"></a></p>
      </div></div></footer>
	</div>


    <!-- jQuery -->
    <script src="\static\js\jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="\static\js\bootstrap.min.js"></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>

	{% endblock %}