{% extends 'base.html' %}
{% load bootstrap3 %}
{% block pagetitle %} Sweet Sleds! {% endblock %}

{% block body %}

 <!-- Page Content -->
    <div class="container">

        <!-- Heading Row -->
        <div class="row">
            <div class="col-md-8">
                <img src="static/SweetSleds.png" alt="SweetSledsLogo">
            </div>
            <!-- /.col-md-8 -->
            <div class="col-md-4">
                <h1><center>Hey You!</center></h1>
                <p>We are Sweet Sleds! We have, you guessed it, sleds! In a winter wonderland like the city of Flagstaff, there are few things more fun or exciting than taking a hot pink sled down some sick slopes. </p>
                <p>I know what you're thinking, "What makes your sleds so special? Well allow us to tell you. We hand craft all of our sleds with the love of our customers. We love you and you should support us. We'll give you things!</p>
            </div>
            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->

        <hr>

        <!-- Call to Action Well -->
        <div class="row">
            <div class="col-lg-12">
                <div class="well text-center">
                    All it takes is a sled to make your life AWESOME!
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->

        <!-- Content Row -->
        <div class="row">
            <div class="col-md-4">
                <h2><center>Custom Sled</center></h2>
                <p>Are you the kind of person who likes to have something unique to you? Well you're in luck! If you give us your email, we will send you a 50% off coupon for a custom sled. We can put flames on it for you!</p>
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4">
                <h2><center>We Want to Help</center></h2>
                <p>We know you all sled-hards are out there going hard. We want to help keep you safe. Give us your email and we'll get you some coupons for some equipment. You'll even be entered into a drawing for an awesome helmet.</p>
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4">
                <h2><center>Secret Locations</center></h2>
                <p>Psst. Wanna hear a secret? We know some awesome locations to sled. The thing is, if we just tell you, just anyone can go to them. So all you have to do is give us your email and we will send you directions. Cool?</p>
            </div>
            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->
        <div class="row">
          <div class="col-lg-4"></div>
            <div class="col-lg-4 text-center">
                <form action="/campone" method="POST">
                    <h1>Signup up now!</h1>
                            {% csrf_token %}
                            {% bootstrap_form form %}
                            {% buttons %}
                            <button type="submit" class="btn btn-primary">
                            Submit
                            </button>
                            {% endbuttons %}

                </form>
            </div>
        </div>
    </div>

{% endblock %}