{% extends 'base.html' %}
{% block pagetitle %} Campaigns {% endblock %}

{% block body %}

<!-- Page Content -->
    <div class="container">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Our Campaigns
                    <small>Supporting Small Businesses</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Project One -->
        <div class="row">
            <div class="col-md-7">
                <a href="#">
                    <img src = "static/SweetSleds.png" alt="Sweet Sleds Logo">
                </a>
            </div>
            <div class="col-md-5">
                <h3>Sweet Sleds</h3>
                <h4>Your Sled Provider</h4>
                <p>We are Sweet Sleds! We have, you guessed it, sleds! In a winter wonderland like the city of Flagstaff, there are few things more fun or exciting than taking a hot pink sled down some sick slopes.</p>
                <a class="btn btn-primary" href="\campone">Learn More!<span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Two -->
        <div class="row">
            <div class="col-md-7">
                <a href="#">
                    <img class="img-responsive" src="static/yoshi.png" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3>SMARTPETS</h3>
                <h4>Your local friendly neighborhood pet store</h4>
                <p>Get the best pet supplies to supply the best care for your pet.</p>
                <a class="btn btn-primary" href="\camptwo">Learn More!<span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Three -->
        <div class="row">
            <div class="col-md-7">
                <a href="#">
                    <img class="img-responsive" src="static/overdone.jpg" alt="Overdone Logos">
                </a>
            </div>
            <div class="col-md-5">
                <h3>Logo Concepts</h3>
                <h4>Local Business Logo Provider</h4>
                <p>Tired of original and unique business logos that grab peoples attention? We are too! Here at Overused Overdone, we can create the most generic and bland logos for you for a fraction of an artist's price!</p>
                <a class="btn btn-primary" href="\campthree">Learn More!<span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->


        </div>
        <!-- /.row -->

{% endblock %}