
{% extends 'base.html' %}
{% block pagetitle %} Campaign Three {% endblock %}

{% block body %}

 <!-- Page Content -->
    <div class="container">

        <!-- Heading Row -->
        <div class="row">
            <div class="col-md-8">
                <img class="img-responsive img-rounded" src="static/overdone.jpg" alt="">
            </div>
            <!-- /.col-md-8 -->
            <div class="col-md-4">
                <h1>Overused Overdone Logo Concepts</h1>
                <p>We are the newest small business in town that has a great idea! We are willing to redo your professional, creative, and colorful business logos and make them bland and boring!</p>
            </div>
            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->

        <hr>

        <!-- Call to Action Well -->
        <div class="row">
            <div class="col-lg-12">
                <div class="well text-center">
                    Contact Us at: <a href="https://gmail.com">test@terriblelogos.com</a>
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->

        <!-- Content Row -->
        <div class="row">
            <div class="col-md-4">
                <h2>Our promise</h2>
                <p>We promise to use the blandest of colors and the simplest design to prove to you that you don't need a unique business logo to be successful!</p>
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4">
                <h2>First one's free if you sign up!</h2>
                <p>Click <a href="\campthreeform">here</a> to submit a form with your email address and name and we can send you a sample for free!</p>
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4">
                <h2>Our other logo designs</h2>
                <p>Check out our previous logo designs <a href="http://google.com">here!</a></p>
            </div>
            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->
    </div>

{% endblock %}