{% extends 'base.html' %}
{% block pagetitle %} Connect {% endblock %}

{% block body %}


<!-- Image Background Page Header -->
    <!-- Note: The background image is set within the business-casual.css file. -->
    <header class="business-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    
                </div>
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <div class="container">

        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Connect With Us
                </h1>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-check"></i>Sign Up</h4>
                    </div>
                    <div class="panel-body">
                        <p>Do you want to have our support in your small business or just like supporting our community? Well just send us your name and email and we will make sure to get back to you as soon as a contract opens up or we'll update you on our clients.</p>
                        <a class="btn btn-primary" href="\signup">Register</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-gift"></i>Refer A Friend</h4>
                    </div>
                    <div class="panel-body">
                        <p>You know someone who could benefit from our services? Well why don't you go ahead and send us their name and email so we can send them special offers. Don't worry, they don't have to know it was you who gave us their information.</p>
                        <a class="btn btn-primary" href="\friend">Refer</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-compass"></i>Contact Us</h4>
                    </div>
                    <div class="panel-body">
                        <p>Do you have any questions our site just didn't answer for you? Well why dont you click that fancy link below and ask us. We promise to respond to you as quickly as our fingers can type. Don't be shy.</p>
                        <a class="btn btn-primary" href="\contact">Contact</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

{% endblock %}