{% extends 'base.html' %}
{% block pagetitle %} Home {% endblock %}

{% block body %}


<!-- Header Carousel -->
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img class="img-responsive img-full" src="static/image1.jpg">
                <div class="carousel-caption">
                    <h1>Welcome to Flagstaff</h1>
                </div>
            </div>
            <div class="item">
                <img class="img-responsive img-full" src="static/image2.jpg">
                <div class="carousel-caption">
                    <h1>Where small businesses thrive</h1>
                </div>
            </div>
            <div class="item">
                <img class="img-responsive img-full" src="static/image3.jpg" >
                <div class="carousel-caption">
                    <h1>It snows here</h1>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </header>

    <!-- Page Content -->
    <div class="container">

        <hr>

        <div class="row">
            <div class="col-sm-8">
                <h2>What We Do</h2>
                <p>Supporting small businesses and playing in the snow are just a few of our passions. We strive to support our community and have fun while doing so!</p>
                <p>Our campaigns have plenty to offer you, so check them out!</p>
                <p>- Agency Headquarters</p>
            </div>
            <div class="col-sm-4">
                <h2>Current Contests</h2>
                <address>
                    <strong>Win A Hat!</strong>
                    <br>Starts: 02-18-2015
                    <br>Ends: 03-03-2015
                    <br>
                </address>
                <address>
                    <strong>Win Katy Perry Tickets!</strong>
                    <br>Starts: 02-18-2015
                    <br>Ends: 03-28-2015
                    <br>
                </address>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <div class="row">
            <div class="col-sm-4">
                <img class="img-circle img-responsive img-center" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTt35dtUUAcF4DbtH79Jyh1pEPFPCZ9829EzovlfwQsB3hDa2RDhg" alt="">
                <center><h2>Sweet Sleds</h2>
                <p>Does this picture excite you? We hope it does! Check out Sweet Sleds in the campaigns.</p></center>
            </div>
            <div class="col-sm-4">
                <img class="img-circle img-responsive img-center" src="static/yoshi2.png" alt="">
                <center><h2>SMARTPETS</h2>
                <p>Come into SMARTPETS today!</p></center>
            </div>
            <div class="col-sm-4">
                <img class="img-circle img-responsive img-center" src="static/overdone.jpg" alt="">
                <center><h2>Logo Designers</h2>
                <p>Do you want an awesome generic logo for your small business? Click <a href="\campthree">here!</a></p></center>
            </div>
        </div>
        <!-- /.row -->
    </div>
{% endblock %}